In [ ]:
import tensorflow as tf
import pandas as pd
from sklearn.model_selection import train_test_split
from keras.utils.vis_utils import plot_model
import numpy as np
import codecs
from keras.callbacks import ModelCheckpoint
import matplotlib.pyplot as plt
%matplotlib inline

In [ ]:
import warnings
warnings.filterwarnings('ignore')

In [ ]:
df = pd.DataFrame(columns=['en','fa'])
df

Empty DataFrame
Columns: [en, fa]
Index: []

In [ ]:
limit = 100_000

In [ ]:
%%time
with codecs.open("TEP-en.txt", "r", "utf-8") as text:
    for i,line in enumerate(text):
        df.at[i,'en'] = line.strip()[:-1]
        if(i==(limit-1)):
            break

CPU times: user 8min 18s, sys: 11.2 s, total: 8min 29s
Wall time: 8min 29s

In [ ]:
%%time
with codecs.open("TEP-fa.txt", "r", "utf-8") as text:
    for i,line in enumerate(text):
        df.at[i,'fa'] = line.strip()[:-1]
        if(i==(limit-1)):
            break

CPU times: user 1.06 s, sys: 16 ms, total: 1.07 s
Wall time: 1.07 s

### **Export DataFrame to CSV**

In [ ]:
df.to_csv('en_to_fa.csv')

### **Read Dataset**

In [ ]:
data = pd.read_csv('en_to_fa.csv')

In [ ]:
df.head(3)

                    en                   fa
0     raspy breathing           صداي خر خر
1                 dad                  پدر
2  maybe its the wind   شايد صداي باد باشه

In [ ]:
len(df)

100000

In [ ]:
df['en_size'] = df['en'].str.count(' ')
df['fa_size'] = df['fa'].str.count(' ')

In [ ]:
df.head()

,en,fa,en_size,fa_size
0,raspy breathing,صداي خر خر,2,3.0
1,dad,پدر,1,1.0
2,maybe its the wind,شايد صداي باد باشه,4,4.0
3,no,نه,1,1.0
4,stop please stop,دست نگه داريد خواهش ميکنم دست نگه داريد,3,8.0

In [ ]:
df['en_no_punctuation'] = df['en'].str.replace('[^\w\s]','')
df['en_no_punctuation'] = df["en_no_punctuation"].str.lower()

In [ ]:
df['fa_no_punctuation'] = '<strat> ' + df['fa'].str.replace('[^\w\s]','') + ' <end>'

In [ ]:
df.head(3)

,en,fa,en_size,fa_size,en_no_punctuation,fa_no_punctuation
0,raspy breathing,صداي خر خر,2,3.0,raspy breathing,<strat> صداي خر خر <end>
1,dad,پدر,1,1.0,dad,<strat> پدر <end>
2,maybe its the wind,شايد صداي باد باشه,4,4.0,maybe its the wind,<strat> شايد صداي باد باشه <end>

In [ ]:
df.loc[1, 'fa_no_punctuation']

'<strat> پدر  <end>'